<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% load static %}
    <link rel="stylesheet" href="{% static 'accounts/file.css' %}">
{% load custom_tags %}
    
	<title>Orders</title>
      <style>
      .row{
        border: 2px groove #9999ff;
      }

      .col{
        border: 2px solid grey;
      }
      .container{

            padding-left:0;
            padding-right:0;
            grid-row-gap: 20;
         }
    </style>
	<title>Dashboard</title>
    <div class="header">
      <a href="/" class="logo">task1</a>
      <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="/products/">Products</a>
        {% if not request.user.is_authenticated %}
        <a href="/accounts/register/">Sign-up</a>
        <a href="/accounts/login/">Sign-in</a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="/products/cart">Cart<span id="cart_qt" class="badge">{% cart_dynamic user %}</span></a>
        <a href="/accounts/logout/">Sign-out</a>
        {% endif %}
  </div>
</div> 
</head>
<body>
      {% block content %}
  <h1>Orders</h1>
  <br><br>
  <h2><b>
    {% if order_list %}
    <div class="container">
    {% for cart in order_list %}
    <div class ="row">
    <div class ="col-sm-10">
    	Order#{{ cart.cart_id }} placed on {{ cart.ordered_date }}
	</div>
    <div class="col-sm-2">
    	${{ cart.total|floatformat:2 }}
    </div>
    </div>
       	<div class="row">
        <div class="col-sm-2">
        	Thumbnail
        </div>
        <div class="col-sm-4">
        	Product Name
        </div>
    	<div class="col-sm-2">
    		Unit Price
		</div>
        <div class="col-sm-2">
        	Quantity
    	</div>
    	<div class="col-sm-2">
    		Final Price
		</div>
	    </div>
        {% for items in cart.items.all %}
        {% for product in items.products.all %}
        <div class="row">
        <div class="col-sm-2">
        	<img src="{{MEDIA_URL}}{{ product.image.url }}" alt="product-image" width="70" height="70">
        </div>
        <div class="col-sm-4">
        	<a href="/products/{{ product.slug }}">{{ product.name }}</a>
        </div>
    	<div class="col-sm-2">
    		${{ product.price }}
		</div>
        <div class="col-sm-2">
        	{{items.quantity}}<br>
    	</div>
    	<div class="col-sm-2">
    		${{items.totalprice}}
		</div>
	    </div>
        {% endfor %}
        {% endfor %} 
        <br>
        <br>
    {% endfor %}
   <br>

  </h2></b>
  {% else %}
    <h2>You haven't ordered anything yet.</h2>
  {% endif %}     
{% endblock %}
</body>
</html>